* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #1c1b29; /* Fundo roxo escuro */
  color: #000000; /* Texto claro com toque de roxo */
}

.box-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-form {
  width: 40rem;
  color: #e4e1ff; /* Texto do formulário */
}

.columns {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.column-01, .column-02 {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: #292842; /* Fundo das colunas em roxo escuro */
  color: #e4e1ff; /* Texto das colunas */
}


.info-toast {
  background: #6a1b9a; /* Roxo vibrante */
  border-radius: 5px;
  color: #ffffff; /* Texto branco */
}

.success-toast {
  background: #2e7d32; /* Verde escuro */
  border-radius: 5px;
  color: #ffffff; /* Texto branco */
}

.error-toast {
  background: #c62828; /* Vermelho vibrante */
  border-radius: 5px;
  color: #ffffff; /* Texto branco */
}

.topo {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3e3c54; /* Fundo do topo em roxo acinzentado */
  color: #e4e1ff; /* Texto do topo */
}

.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #301341; /* Fundo do footer em roxo vibrante */
  color: white;
  flex-direction: column;
  justify-content: center;
}
